@model SSLS.Domain.Concrete.Reader

@{
    ViewBag.Title = "Readermsg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .space
    {
    margin-left:320px;
    }
</style>
<h2 class="title">读者信息</h2>
<div class="panel-body">
    <p class="lead space">以下为您的基本信息</p>
    <div class="form-group space">
        <label>账号</label>
        <input type="text" name="name" value="@Model.Name" />
    </div>
    <div class="form-group space">
        <label>密码</label>
        <input type="text" name="password" value="@Model.Password" />
        @Html.ActionLink("修改密码", "UpdatePassword", "Reader",
        new { @class = "btn btn-default navbar-btn" })
    </div>
    <div class="form-group space">
        <label>余额</label>
        <input type="text" name="price" value="@Model.Price" />
        @Html.ActionLink("余额充值", "AddBlance", "Reader",
        new { @class = "btn btn-default navbar-btn" })
    </div>
</div>

